<%- include("header") -%>   <!--EJS header layout-->
    <div class="box" id="heading">
        <h1><%=listTitle%></h1> <!--EJS Variable-->
    </div>
    <div class="myDiv">

        <form action="/about" method="get">
            <button class="myBtn" type="submit">About Me</button>
        </form>
        <form action="/work" method="get">
            <button class="myBtn" type="submit">Work ToDoList</button>
        </form>
    </div>
    <div class="box" id="list">
        
        <%for(let i=0; i<items.length; i++){%> <!--EJS Variable-->
            <form action="/delete" method="post">
                <div class="item">
                     <!--When the item is checked, 
                    we have to delete from the database
                    'value' attribute inside checkbox input stores the id of the item-->
                    <input type="checkbox" name="checkBox" 
                    value="<%=items[i]._id%>" 
                    onchange="this.form.submit()" class="checkBox"> <!--EJS Variable-->
                    <p><%= items[i].name %></p>      <!--EJS Variable-->           
                </div>
            <!--Below input tag is used to retrieve listTitle to delete items from custom list-->
                <input type="hidden" name="listNameHiddenInputTag" value="<%=listTitle%>"></input>
            </form>
            
        <%}%>
        <form class="item" action="/" method="post" autocomplete="off">
            <input type="text" placeholder="Add new item..." name="newItem">
            <button class="btn" type="submit" 
            name="listBtn" value="<%=listTitle%>">+</button><!--EJS Variable-->
        </form>
    </div>
<%- include("footer") -%>   <!--EJS footer layout-->